<!DOCTYPE = html>
<html>
	{%block title%}<title>Create a new blog!</title>{%endblock title%}

	{%block header%}<b><h3>Create a new blog!</h3></b>{%endblock header%}
  {%block add%}
		<form action="/makeblog", method = "POST">
			Blog Title: <input type = "text" name="blogTitle" placeholder = "Title"></br>
			Description:
			<br>
			<textarea name="blogDes" rows="10" cols="30" placeholder = "Enter your stuff here"></textarea>
			<br>
			Category:<input type = "text" name="blogCat" placeholder = "Category"></br>
  		<br>
  		<input type="submit" value="Create">
		</form>
	{%endblock add%}
</html>
