<!DOCTYPE = html>
<html>
	{%block title%}<title>Edit your own buggy blog!</title>{%endblock title%}

	{%block header%}<b><h3>Edit your Blog {{blog[3]}}</h3></b>{%endblock header%}

	{%block edit%}
	<b>Your Posts</b>
	<!-- display all posts with edit options -->
		<form action="/submit" method = "POST">
			Blog heading: </br>
			<textarea name="text" rows="10" cols="30">What you originally wrote</textarea>
			<br>
			<input type="submit">
		</form>
	{%endblock edit%}

	{%block add%}
	<b>Add a post</b>
		<form action="/submit" method = "POST">
			Blog heading: <input type = "text" name="heading" ></br>
			<textarea name="text" rows="10" cols="30">Enter your stuff here</textarea>
  		<br>
  		<button type="submit" name="blog_id" value={{blog[0]}}>Post!</button>
		</form>
	{%endblock add%}
	<a href="/profile">Profile</a><br><br>
</html>
