{%extends "home.html"%}
{%block title%}<title>Welcome</title>{%endblock title%}
{%block greeting%}
	    <head>
	      Hello {{ user }}
		</head></br>
{%endblock greeting%}
{%block login%}
		<a href = '/logout'><input type = "button" value="logout"></input></a>
{%endblock login%}
{%block edit %}
<h3>click the botton to add blog</h3>
<a href = '/edit'><input type = "button" value="woo"></input></a>
<br>
<h4>click the bottom to view your profile page</h4>
<a href = '/username'><input type = "button" value="Look at me!"></input></a>
{%endblock edit%}
