<!DOCTYPE = html>
<html>
	{%block title%}<title>Welcome</title>{%endblock title%}
	{%block greeting%}
		<head>
	  	Hello, {{ user }}!
		</head><br>
	{%endblock greeting%}

	<a href="/profile">Your Profile</a><br><br>
	<a href="/edit">Edit your blogs</a><br><br>
	<a href="/create">Create a new blog</a><br><br>
	<div class="sidenav"><b>Blog Categories</b><br>
  	<a href="#food">Food</a>
  	<a href="#fashion">Fashion</a>
  	<a href="#sports">Sports</a>
  	<a href="#news">News</a>
	</div>

	{%block login%}
		<br><br><br><a href = '/logout'><input type = "button" value="logout"></input></a>
	{%endblock login%}
</html>
